@tailwind base;
@tailwind utilities;
@tailwind components;

.active {
    border-bottom: 5px solid red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 700;
}
